.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.button-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  background-color: white;
  margin: 10px;
}
